<ng-container *ngIf="userData | async as user">
  <a href="{{user?.href}}">
    <p>Hello {{ user?.display_name }}</p>
  </a>
  <p>Here are your {{selection}}</p>
</ng-container>

<form [formGroup]="form">
  <label for="result">Choose:</label>
  <select [(ngModel)]="selection" formControlName="results" id="result"
          name="result">
    <option value="tracks">Tracks</option>
    <option value="artists">Artists</option>
  </select>
</form>

<ng-container *ngIf="selection === 'tracks' else artists">
  <app-top-tracks></app-top-tracks>
</ng-container>


<ng-template #artists>
  <app-top-artists></app-top-artists>
</ng-template>
